In [5]:
#1
marks = int(input("Enter the marks: "))
if marks > 90:
            print("A")
elif marks <= 90 and marks > 80:
            print("B")
elif marks <= 80 and marks >= 60:
            print("C")
else:
            print("D")

Enter the marks:  67

C

In [10]:
#2
cost_price = int(input("Enter the cost price: "))
tax = 0
road_tax = 0
if cost_price > 100000:
    tax = 15
    road_tax = cost_price  * (tax/100)
    print(road_tax)
elif cost_price > 50000 and cost_price <= 100000:
    tax = 10
    road_tax = cost_price  * (tax/100)
    print(road_tax)
else:
    tax = 5
    road_tax = cost_price  * (tax/100)
    print(road_tax)

Enter the cost price:  1234567

185185.05

In [11]:
#3
city = input("Enter the city: ")
if city == "Delhi" or city == "delhi:
    print("Red Fort")
elif city == "Agra" or city == "agra":
    print("Taj Mahal")
elif city == "Jaipur" or city == "jaipur":
    print("Jal Mahal")
else:
    print("None")

Enter the city:  Delhi

Red Fort

In [13]:
#4
num = int(input("Enter the number"))
count = 0
while num > 10:
    count = count + 1
    num = int(num/3)
print(count)

Enter the number 90

2

In [25]:
#5
"""A "While" Loop is used to repeat a specific block of code an unknown number of times, until a condition is met.
For example, 
if we want to ask a user for a number between 1 and 10, 
we don't know how many times the user may enter a larger number, 
so we keep asking "while the number is not between 1 and 10"."""

num = 1
while num <= 10:
    print(num)
    num = num + 1

1
2
3
4
5
6
7
8
9
10

In [24]:
#6.1
n = int(input('Enter number of rows : '))

i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  3

*
* *
* * *

In [16]:
#6.2
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  3

* * *
* *
*

In [20]:
#7
num = 1
while num <= 10:
    print(num)
    num = num + 1

1
2
3
4
5
6
7
8
9
10

In [21]:
#8
num = 10
while num >= 1:
    print(num)
    num = num - 1

10
9
8
7
6
5
4
3
2
1