In [14]:
#1
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']

def fun(l):
    product = 1
    for i in l:
        if type(i) == int:                                                   # for integer 
            product = product * i
            
        elif type(i) == str:                                                 # for string
            for j in i:
                if j == '0' or j == '1' or j == '2' or j == '3' or j == '4' or j == '5' or j == '6' or j == '7' or j == '8' or j == '9':
                    product = product * int(j)
                    
        elif type(i) == list or type(i) == tuple or type(i) == set:          # for list,tuple or set
            for j in i:
                if type(j) == int:
                    product = product * j
                elif type(j) == str:
                    for k in j:
                        if k == '0' or k == '1' or k == '2' or k == '3' or k == '4' or k == '5' or k == '6' or k == '7' or k == '8' or k == '9':
                            product = product * int(k)
                            
        elif type(i) == dict:                                               # for dictionary 
            for j in i.keys():                  # for keys 
                if type(j) == int:
                    product = product * j
                elif type(j) == str:
                    for k in j:
                        if k == '0' or k == '1' or k == '2' or k == '3' or k == '4' or k == '5' or k == '6' or k == '7' or k == '8' or k == '9':
                            product = product * int(k)
                elif type(j) == list or type(j) == tuple or type(j) == set:
                    for k in j:
                        if type(k) == int:
                            product = product * k
                        elif type(k) == str:
                            for l in k:
                                if l == '0' or l == '1' or l == '2' or l == '3' or l == '4' or l == '5' or l == '6' or l == '7' or l == '8' or l == '9':
                                    product = product * int(l)
                                    
            for j in i.values():                   
                if type(j) == int:              # for values
                    product = product * j
                elif type(j) == str:
                    for k in j:
                        if k == '0' or k == '1' or k == '2' or k == '3' or k == '4' or k == '5' or k == '6' or k == '7' or k == '8' or k == '9':
                            product = product * int(k)
                elif type(j) == list or type(j) == tuple or type(j) == set:
                    for k in j:
                        if type(k) == int:
                            product = product * k
                        elif type(k) == str:
                            for l in k:
                                if l == '0' or l == '1' or l == '2' or l == '3' or l == '4' or l == '5' or l == '6' or l == '7' or l == '8' or l == '9':
                                    product = product * int(l)                        
                                    
    return product

In [16]:
fun(list1)

8269423677974170957667682484224000

In [42]:
#2
s = "I want to become a Data Scientist."
sl = s.lower()
s1 = sl.replace('a','z')
s2 = s1.replace('b','y')
s3 = s2.replace('c','x')
s4 = s3.replace(' ','$')
print(s4)

i$wznt$to$yexome$z$dztz$sxientist.